*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(to bottom,rgb(0, 0, 0),rgba(0, 0, 0, 0));
}
.logo{
    margin-left: 3vw;
    color: rgb(226, 222, 222);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 800;    
}
.nav-links{
    margin-right: 3vw;
    color: rgb(226, 222, 222);
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    font-weight: 600;
    font-size: 80%;
    cursor: pointer;
}
.nav-link a{
    all: unset;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 222, 222);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .logo{
        font-size: 85%;
        transition: font-size 0.3s ease-out;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 25vh;
        top: 5vh; 
        background-image: linear-gradient(to right,rgb(0, 0, 0),rgba(0, 0, 0, 0.836)); 
        display:flex;   
        flex-direction: column;
        align-items: flex-start;
        padding: 7vw 5vw;
        width: 35%;
        font-size: 130%;
        transform: translateX(115%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display:block;
    }
}
.nav-active{
    transform: translateX(15%);
}
html { 
    background: url(top-bg.jpg) no-repeat;
    background-size: cover;
}
#center-text{
    background: url(center-text.png) no-repeat;
    position: absolute;
    margin-top: 15vh;
    width: 100vw;
    height: 25vh;
    border: 0px;
    background-size: 100%;
}
input.button-add {
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 150%;
    transform: translate(15vw, 42vh);
    background-image: url(whatsapp.png); /* 16px x 16px */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 1vw 0.50vh;  /* equivalent to 'top left' */
    background-size: 20%;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 8vh;
    width: 70vw;           /* make this the size of your image */
    padding-left: 15vw;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */

}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 100%;
        transform: translateX(0px);
    }
}
@keyframes burgerMenuFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
